section#gym-second {
    .container {
        background-color: #000;
        height:560px;
        padding-top: 50px;
        .portion {
            h2 {
                width: 417px;
                margin: 102px 0 200px 80px;
                font-weight: 700;
                font-size: 40px;
                line-height: 143%;
                letter-spacing: 0.18em;
                text-transform: uppercase;
                color: #FFFFFF;
                
            }
        }
    }
}